* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(#08e2ff, #b507ff);
  z-index: 10;
  pointer-events: none;
  mix-blend-mode: multiply;
}

.wrapper {
  width: 490px;
  border-radius: 10px;
  padding: 18px 25px 20px;
  background-color: #fff;
  box-shadow: 0 0 0 2px #fffff5, 0 0 0 22px #fff, 0 0 50px #fff, 0 0 450px #fff;
  z-index: 10;
}

.wrapper :where(.title, li, li i, .details) {
  display: flex;
  align-items: center;
}

.wrapper .title h2 {
  font-size: 21px;
  font-weight: 600;
  margin-left: 8px;
}

.wrapper .content {
  margin: 10px 0;
}

.content p {
  font-size: 15px;
}

.content ul {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0;
  padding: 7px;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
}

.content ul li {
  list-style: none;
  margin: 4px 3px;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3d1e1;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.content ul li i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  font-size: 12px;
  border-radius: 50%;
  color: #808080;
  background-color: #dfdfdf;
  cursor: pointer;
}

.content ul input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
}

.wrapper .details {
  justify-content: space-between;
}

.details button {
  border: none;
  outline: none;
  padding: 9px 15px;
  border-radius: 5px;
  font-size: 14px;
  mix-blend-mode: multiply;
  color: #fff;
  background-color: #b507ff;
  cursor: pointer;
}
