* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #000;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.contentBox {
    position: relative;
    width: 600px;
    height: 400px;
    display: flex;
    box-sizing: border-box;
    border-radius: 20px;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
}

.contentBox .imgBox {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox .imgBox::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: rgba(255, 255, 225, 0.1);
    border: 1px solid rgba(255, 225, 255, 0.2);
    border-radius: 50%;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    transition: all 0.3s;
}

.contentBox .imgBox img {
    position: relative;
    max-width: 250px;
    z-index: 1;
}

.contentBox .content {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
    color: #fff;
}

.contentBox .content h3 {
    font-size: 2em;
    font-weight: 300;
    line-height: 1em;
    color: rgb(189, 183, 183);
}

.contentBox .content h2 {
    font-size: 3em;
    line-height: 1em;
    color: #9f4db5;
}

.contentBox .content h2 span {
    font-size: 0.75em;
    text-transform: uppercase;
    color: #fff;
}

.contentBox .content a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    background: #9f4db5;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 800;
    text-align: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    z-index: 10;
}

@media(max-width: 767px) {
    .contentBox {
        width: 300px;
        height: auto;
        flex-direction: column;
    }

    .contentBox .imgBox {
        height: 90px;
        transform: translateY(-50px);
    }

    .contentBox .imgBox img {
        max-width: 160px;
    }

    .contentBox .imgBox::before {
        display: none;
    }

    .contentBox .content {
        height: auto;
        padding: 0 20px 20px 20px;
        text-align: center;
    }

    .close {
        top: 10px;
        right: 8px;
    }
}