* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #000;
}

.container {
    max-width: 1700px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background: #24262b;
    padding: 70px 0;
}

.footerCol {
    width: 25%;
    padding: 0 15px;
}

.footerCol h4 {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #fff;
}

.footerCol h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #e91e63;
    width: 50px;
    height: 2px;
    box-sizing: border-box;
}

.footerCol ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footerCol ul li a {
    font-size: 16px;
    font-weight: 300;
    display: block;
    text-decoration: none;
    color: #bbb;
    transition: all 0.3s ease;
}

.footer ul li a:hover {
    padding-left: 8px;
    color: #fff;
}

.footer .socialLinks a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px 10px 0;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #fff;
    transition: all 0.3s ease;
}

.footerCol .socialLinks a:hover {
    color: #24262b;
    background: #fff;
}


@media(max-width: 767px) {
    .footerCol {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 564px) {
    .footerCol {
        width: 100%;
        margin-bottom: 30px;
    }
}